<cs-header>
  <!-- wykorzystanie gniazda levels(transkluzji - technika projekcji)  -->
  <p levels>Cars</p>
  <!-- wykorzystanie gniazda content(transkluzji - technika projekcji)  -->  
  <div content>
    <p>Tekst content</p>
  </div>
</cs-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="table table-striped cs-table">
        <thead>
          <tr>
            <th>Samochód</th>
            <th>Płyta</th>
            <th>Data dostarczenia</th>
            <th>Deadline</th>
            <th>Klient</th>
            <th>Koszt naprawy</th>    
            <th>Akcja</th>                                
          </tr>
        </thead>
        <tbody>
          <!-- przekazanie ścieżki i routingu do routerLink -->
           <!-- <tr *ngFor="let car of cars" [routerLink]="['/cars', car.id]" class='row-car'>  -->
           <!-- routing z poziomu klasy komponentu, z użyciem serwisu Routing -->
            <tr *ngFor="let car of cars" (click)="goToDetails(car)" class='row-car'>             
             <td [ngClass]="{'row-error': car.isFullyDemaged}">{{ car?.model }}</td>
             <td>{{ car?.plate }}</td>
             <td>{{ car?.deliveryDate }}</td>
             <td>{{ car?.deadline }}</td>
             <td>{{ car?.clientFirstName }} {{ car?.clientSurname }} </td>
             <td>{{ car?.cost }}</td>
             <td>akcja</td>
           </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Brak samochodów w serwisie</p>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- PRZEKAZANIE DO DEKORATORA INPUT WARTOŚCI POLA KLASY totalCost i ODEBRANIE Z DEKORATORA OUTPUT EVENTA WYSŁANEGO PRZEZ EVENTEMITTER -->
  <!-- INPUT [nazwa-inputa]="pole-klasy" -->
  <!-- OUTPUT (nazwa-emittera)="metoda jaką wykonuje()" -->
  <div class="row">
      <div class="col-sm-12">
          <button (click)="showGross()" class="btn btn-primary float-right">Pokaż koszt brutto</button>      
      </div>
    </div>
    <!-- po zadziałaniu emmitera shownGross uruchamia metodę onShownGross z przesłanym argumentem-$event -->
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">KOSZT BRUTTO: {{ grossCost }} PLN</p>
      </div>
    </div>
  </div>
</div>