<cs-header>
  <!-- wykorzystanie gniazda levels(transkluzji - technika projekcji)  -->
  <p levels>Cars</p>
  <!-- wykorzystanie gniazda content(transkluzji - technika projekcji)  -->
  <div content>
    <p>Tekst content</p>
  </div>
</cs-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="table table-striped cs-table">
        <thead>
          <tr>
            <th>Samochód</th>
            <th>Płyta</th>
            <th>Data dostarczenia</th>
            <th>Deadline</th>
            <th>Klient</th>
            <th>Koszt naprawy</th>
            <th>Akcja</th>
          </tr>
        </thead>
        <tbody>
          <!-- przekazanie ścieżki i routingu do routerLink -->
          <!-- <tr *ngFor="let car of cars" [routerLink]="['/cars', car.id]" class='row-car'>  -->
          <!-- routing z poziomu klasy komponentu, z użyciem serwisu Routing -->
          <tr 
            *ngFor="let car of cars" 
            (click)="goToDetails(car)" 
            class='row-car'
            cs-cars-list-row
            [car]='car'
            (removedCar) = 'onRemovedCar(car)'
          >
          </tr>
        </tbody>
      </table>
      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Brak samochodów w serwisie</p>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- PRZEKAZANIE DO DEKORATORA INPUT WARTOŚCI POLA KLASY totalCost i ODEBRANIE Z DEKORATORA OUTPUT EVENTA WYSŁANEGO PRZEZ EVENTEMITTER -->
  <!-- INPUT [nazwa-inputa]="pole-klasy" -->
  <!-- OUTPUT (nazwa-emittera)="metoda jaką wykonuje()" -->
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary float-right">Pokaż koszt brutto</button>
    </div>
  </div>
  <!-- po zadziałaniu emmitera shownGross uruchamia metodę onShownGross z przesłanym argumentem-$event -->
  <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">KOSZT BRUTTO: {{ grossCost }} PLN</p>
      </div>
    </div>
  </div>
</div>

<p class='data-header'>Dodaj samochód</p>
  <div class='data-container'>
    <form [formGroup]='carForm'>
    <div class='row form-group'>
      <div class='col-sm-6'>
        <label>Client name</label>
        <input formControlName='clientFirstName' type='text' class='form-control' placeholder="imię">
      </div>
      <div class='col-sm-6'>
        <label>Client surname</label>
        <input formControlName='clientSurname' type='text' class='form-control' placeholder="nazwisko">
      </div>
    </div>
    <div class='row form-group'>
      <div class='col-sm-4'>
        <label>Model</label>
        <input formControlName='model' type='text' class='form-control' placeholder="model">
        <p *ngIf='!carForm.get("model").valid && carForm.get("model").dirty' class='error'>To pole jest wymagane</p>
      </div>
      <div class='col-sm-4'>
        <label>Type</label>
        <input formControlName='type' type='text' class='form-control' placeholder="typ">
      </div>
      <div class='col-sm-4'>
        <label>Plate</label>
        <input formControlName='plate' type='text' class='form-control' placeholder="płyta">
        <p *ngIf='!carForm.get("plate").valid && carForm.get("plate").dirty' class='error'>To pole jest wymagane (3-6 znaków)</p>
      </div>
    </div>
    <div class='row form-group'>
      <div class='col-sm-3'>
        <label>Power</label>
        <input formControlName='power' type='text' class='form-control' placeholder="moc">
        <p *ngIf='carForm.get("power").errors?.power && carForm.get("power").dirty' class='error'>Power must be beetwen 40 - 800</p>
      </div>
      <div class='col-sm-3'>
        <label>Color</label>
        <input formControlName='color' type='text' class='form-control' placeholder="kolor">
      </div>
      <div class='col-sm-3'>
        <label>is Damaged?
            <input formControlName='isFullyDamaged' type='checkbox' (change)="togglePlateValidity()">
        </label>
      </div>
      <div class='col-sm-3'>
        <label>Year
            <input formControlName='year' type='text' class='form-control' placeholder="year">
        </label>
      </div>
    </div>
    <div class='row form-group'>
      <div class='col-sm-4'>
        <label>Delivery date</label>
        <input formControlName='deliveryDate' type='text' class='form-control' placeholder="Delivery date">
      </div>
      <div class='col-sm-4'>
        <label>Deadline</label>
        <input formControlName='deadline' type='text' class='form-control' placeholder="deadline">
      </div>
      <div class='col-sm-4'>
          <label>Cost</label>
          <input formControlName='cost' type='text' class='form-control' placeholder="koszt">
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]='carForm.invalid' (click)='addCar()' type="submit" class="btn btn-primary float-right">Zapisz</button>
      </div>
    </div>
  </form>

<!-- <pre>{{ carForm.value | json }}</pre> -->
<pre>Czy formularz jest niepoprawny ?{{ carForm.invalid | json }}</pre>
<pre> Stan walidacji inputa model: {{ carForm.get('model').valid | json }}</pre>
<pre> Stan walidacji inputa plate: {{ carForm.get('plate').valid | json }}</pre>
<pre> Stan walidacji inputa power: {{ carForm.get('power').valid | json }}</pre>
</div>
